<div>
  <h2>會員 {{ fmemberId }} 的交易紀錄</h2>

  <div *ngIf="transactions.length === 0">
    <p>目前沒有交易紀錄。</p>
  </div>

  <table *ngIf="transactions.length > 0" border="1" cellpadding="10" cellspacing="0">
    <thead>
      <tr>
        <th>交易編號</th>
        <th>股票代碼</th>
        <th>券商代碼</th>
        <th>交易類型</th>
        <th>買/賣</th>
        <th>股票數量</th>
        <th>股票價格</th>
        <th>交易時間</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.fTranId }}</td>
        <td>{{ transaction.fStockId }}</td>
        <td>{{ transaction.fBrokerId }}</td>
        <td>{{ transaction.fTranType }}</td>
        <td>{{ transaction.fBuySell }}</td>
        <td>{{ transaction.fStockQty }}</td>
        <td>{{ transaction.fStockPrice | number: '1.2-2' }}</td>
        <td>{{ transaction.fTranTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
      </tr>
    </tbody>
  </table>
</div>
