<div class="info-container">
  <h2>基本資料</h2>

  <form class="info-form">
    <div class="form-group">
      <label for="name">姓名</label>
      <input type="text" id="name" [(ngModel)]="userInfo.name" name="name" placeholder="請輸入姓名">
    </div>

    <div class="form-group">
      <label for="nickname">暱稱</label>
      <input type="text" id="nickname" [(ngModel)]="userInfo.nickname" name="nickname" placeholder="請輸入暱稱">
    </div>

    <div class="form-group">
      <label for="birthday">生日</label>
      <input type="date" id="birthday" [(ngModel)]="userInfo.birthday" name="birthday">
    </div>

    <div class="form-group">
      <label>性別</label>
      <div class="radio-group">
        <label>
          <input type="radio" [(ngModel)]="userInfo.gender" name="gender" value="male"> 男
        </label>
        <label>
          <input type="radio" [(ngModel)]="userInfo.gender" name="gender" value="female"> 女
        </label>
      </div>
    </div>

    <button type="submit" class="save-btn" (click)="saveInfo()">儲存變更</button>
  </form>
</div>
