<div class="main-background"></div> <!-- 新增背景圖層 -->
<div class="background-wrapper">
  <div class="overlay-image"></div>
  <div class="container">

    <h1 class="title">加入Wandki，投資互助更驚喜</h1>

    <p class="description">即時掌握股市行情，互助連結你我，加入Wandki，開啟財富與愛的旅程</p>
    <div class="hero-action">
      <button class="action-button">立即開始</button>
    </div>
  </div>


  <!-- 添加浮動圖片容器 -->
  <div class="floating-images">
    <div class="float-img img1"></div>
    <div class="float-img img2"></div>
    <div class="float-img img3"></div>
    <div class="float-img img4"></div>
    <div class="float-img img5"></div>
    <div class="float-img img6"></div>
    <div class="float-img img7"></div>
    <div class="float-img img8"></div>
    <div class="float-img img9"></div>
  </div>


  <div class="bottom-overlay-image"></div>




</div>
